        {% extends "base.html" %}

	{% block about %}
	<div class="row">
            <div class="col-md-10">
			<h1> Porfile </h1>
			My name is kramer. I`m an Oracle DBA who lives in China Dalian. This site is my personal site.
			It is writen in Python programming language with Django framework. The front page are constructed with
			Bootstrap.
            </div>
        </div>
		
        <div class="row">
            <div class="col-md-10">
				<h1> Address </h1>
                <address>
                    <strong>
                        BT Glabol Service (Dalian)
                    </strong>
                    <br>
                    China Dalian
                    <br>
                    Software Park Street. Building #2
                    <br>
                    <abbr title="Phone">
                        P:
                    </abbr>
                    18502431048
                </address>
				<address>
					<strong>Mingwei.Li</strong><br>
					<a href="mailto:kramer2009@126.com">kramer2009@126.com</a>
				</address>
            </div>
        </div>
	{% endblock %}
