{% extends "base.html" %}
    {% block blogitem %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ blog_item.title }}
            </h1>
            <em>
                Category:
				{% for c in blog_item.clist %}
					{{c}}
				{% endfor %}
			</em>
            <em>
                write at: {{blog_item.timestamp}}
            </em>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            
            <body>
                    {{ blog_item.body | safe}}
            <body/>
        </div>
    </div>
{% include 'comment.html'%}
	{% endblock %}

