{% extends "base.html" %}
{% block blogs %}
<div class="row">
    <div class="col-md-10">
        {% if blog_list %} 
		{% for b in blog_list %}
        <h3>
            <a href="/blog/{{b.title}}/" >
            {{ b.title }}
            </a>
        </h3>
        <p>
            <em>
                {% for c in b.clist %} {{c}} {% endfor %}
            </em>
        </p>
        <p>
            <em>
                write at: {{ b.timestamp }}
            </em>
        </p>
        {{ b.body|safe }} 
	<hr />
	{% endfor %} 
	{% endif %}
    </div>
</div>
{% endblock %}
